* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body {
    /*font-family: 'Poppins', sans-serif;*/
/*background-color: hsl(60, 2%, 21%);*/
/*}*/

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: hsl(228, 9%, 16%); /* added later */
  z-index: 10;
  text-align: left;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  font-size: 30px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
}

.header .menu-btn {
  display: none;
}

.header .menu li {
  display: inline-block;
}

.header .menu li:last-child {
  margin-right: 20px;
}

.header .menu li + li {
  margin-left: 40px;
}

.header .menu a {
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  position: relative;
  transition: color 0.5s;
}

.header .menu a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: hsl(338, 80%, 58%);
  transform: scale(0);
  transition: 0.5s;
}

.header .menu a:hover {
  color: hsl(338, 80%, 58%);
}

.header .menu a:hover::after {
  transform: none;
}

@media (max-width: 991px) {
  .header {
    padding: 8px 0;
  }
  .header .menu-btn {
    height: 36px;
    width: 44px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .header .menu-btn .line {
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: hsl(0, 0%, 100%);
    transition: transform 0.5s;
  }
  .header .menu-btn .line-1 {
    transform: translateY(-8px);
  }
  .header .menu-btn .line-3 {
    transform: translateY(8px);
  }
  .header .menu-btn.active .line-2 {
    transform: rotate(-45deg);
  }
  .header .menu-btn.active .line-1,
  .header .menu-btn.active .line-3 {
    transform: translateY(0) rotate(-135deg);
  }
  .header .menu {
    position: fixed;
    left: 100%;
    top: 0;
    height: 100%;
    background-color: hsl(60, 4%, 9%);
    width: 280px;
    padding: 62px 0 30px;
    transition: transform 0.5s;
  }
  .header .menu.open {
    transform: translateX(-100%);
  }
  .header .menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 62px;
    box-sizing: border-box;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
  }
  .header .menu > ul {
    max-height: 100%;
    overflow-y: auto;
  }
  .header .menu li {
    display: block;
  }
  .header .menu li + li {
    margin: 0;
  }
  .header .menu a {
    padding: 12px 30px;
  }
  .header .menu a::after {
    content: none;
  }
  .header .menu .nav-btn {
    display: block;
    width: calc(100% - 60px);
    margin: 10px auto;
  }
}

/* for login and sign up*/

.nav-btn {
  font-size: 12px;
  padding: 8px 12px;
  margin-left: 20px;
  background-color: hsl(338, 80%, 58%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: hsl(338, 80%, 48%);
}

/* logout && delete */
.profile-icon {
  position: relative;
  display: block;
  cursor: pointer;
}

.profile-icon img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ccc;
  transform: translate(-20px, 8px);
}
.dropdown-menu {
  position: absolute;
  /* top: 100%; */
  left: 50%;
  transform: translate(-70%, 10%);

  /* transform: translateX(-40%); */
  background: #000;
  border-radius: 5px;
  z-index: 1000;
  display: none;
  padding: 10px 0;
  width: auto;
  /* max-width: 240px; */
  display: block;
}

.profile-icon:hover .dropdown-menu,
.dropdown-menu.open {
  display: block;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-btn {
  display: block;
  width: 100%;
  padding: 8px 10px;
  background: none;
  border: none;
  text-align: center;
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: bold;
}

.dropdown-btn:hover {
  text-decoration: underline;
  color: hsl(338, 80%, 58%);
}

@media (max-width: 991px) {
  .profile-icon img {
    transform: translateX(+30px);
  }
  .dropdown-menu {
    left: 0;
    transform: translateX(+30px);
    width: 50%;
    padding: 5px 0;
  }

  .dropdown-btn {
    text-align: left;
  }
}
